#main .content>.row.flex:nth-child(4):after,
  #main .content>.row.flex:nth-child(5):after{content:'';}
  #main .content .row.flex p.blue{background-color: #8196BB;color: #fff;}
  .row.orange{background-color:#EF8354;}
  #main .content .row.flex.long{width: 100%;justify-content: flex-start;}
  #main .content .row.flex.long .blue{padding-left: 26px;width: 23%;margin-right: 22px;}
  #main .content .row.flex.long select{width:76%;}
  #main .content .btnWP{display: flex;justify-content: center;align-items: center;}
  #main .content .btnWP .btn{margin:0 50px;}
  #main .content{margin-bottom: 60px;}
  .flex.between{display: flex;justify-content: space-between;align-items: center;}
  #main .content .row.flex.long p{width:30%;}