body{position: relative;}
body::after{content:'';background:url('../img/loginBg.png') no-repeat center;background-size: cover;width:100vw;height: 100vh;
filter: blur(25px);position: absolute;z-index: -1;top:0;left: 0;}
header{background: transparent;}
header .wrapper img:nth-child(2),
header .btnWP {display: none;}
#main,
#main .middle{display:flex;justify-content: center;align-items: center;
width:80%;height:634px;}
#main{width:100%;background-color: transparent;}
.left,.right{width:570px;height:634px;}
.left{background: url('../img/index/login.png') no-repeat center;background-size: cover;
width:570px;}
.right{background-color: #fff;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.right .top{margin-bottom:40px;}
.right .flex{display: flex;justify-content: space-between;align-items: center;
max-width: 396px;width: 100%;margin-bottom: 23px;}
p{color:#6D6D6D;font-size:1rem;}
p.orange{color: #EF8354;font-size:1rem;}
p.title{font-size: 1.5rem;color: #EF8354;}
.right .flex p:nth-child(1){position: relative;}
.right .flex p:nth-child(1)::before{content: '';background: url('../img/check.svg') no-repeat center;background-size:contain;
display: inline-block;width: 20px;height: 14px;margin-right: 17px;}
input{border: 0;border-left: 5px solid #EF8354;background-color: #F7F7F7;color: #6D6D6D;
font-size: 1rem;margin-bottom: 23px;padding-left: 18px;box-sizing: border-box;max-width: 396px;width: 100%;height: 50px;line-height: 50px;}
.btn{max-width: 396px;width: 100%;border-radius:26px;height:50px;line-height: 50px;}
@media(max-width:1230px){
.left, .right {width: 50%;height: 500px;}
}
@media(max-width:1055px){
#main, #main .middle{width: 96%;}
input,.right .flex,.btn.orange{width:90%;}
}
@media(max-width:700px){
.left{display: none;}
.right{width:80%;}
}
@media(max-width:530px){
header .wrapper{padding: 30px;}
}
@media(max-width:450px){
header .wrapper {
  padding: 20px 30px;align-items: flex-start;
}
.right{width:90%;height:470px;}
#main, #main .middle{height: 470px;}
header img, header a img,
.right .top img{width: 80%;margin: 0 auto;display: block;}
p.title {font-size: 1.3rem;text-align: center;}
footer{margin-top: 20px;}
}
@media(max-width:400px){
header .wrapper {height:120px;}
p,p.orange,input{font-size:0.9rem;}
}