.detailText{border: 1px solid #BFC0C0;background-color: #fff;}
.detailText .rowText{padding:13px 0;}
.detailText .rowText.border.gray{border-left:2px solid #FCA311;background-color: #F6F6F6;}
.detailText .rowText div{display: flex;justify-content: space-around;align-items: flex-start;
width:80%;margin:0 auto 6px;}
.detailText .rowText .editDelete{align-items: center;}
.detailText .rowText .editDelete .btn.orangeDeep{margin: 0;}
.detailText .rowText div.one{justify-content: center;}
.detailText .editDelete.one .btn:nth-child(1){margin-right:0;}
.detailText p{
  min-height:45px;line-height: 45px;color:#2D3142;
  min-width: 100px;
  width: 45%;text-align: center;position: relative;
}
.detailText p.flex{display: flex;justify-content:flex-start;align-items: center;}
.detailText p.td{color: #6D6D6D;word-break: break-all;}
.detailText .rowText .editDelete .border{border: 1px solid #4973BB;
  color: #4973BB;margin: 2.5px;padding: 2px 15px;
  height: 32px;line-height: 32px;border-radius: 5px;}
.detailText a.btn{display: flex;justify-content: space-around;align-items: center;width: 109px;padding:0 8px;cursor: pointer;}
.detailText a.btn span{color: #fff;width:40px;}
.detailText .btnWP{width: 300px;margin:16px auto 0;}
.detailText .editDelete .btn:nth-child(1){margin-right: 100px;margin-bottom: 0;}
.detailText .mobileTable input{width:100%;padding: 2px 8px;box-sizing: border-box;}
.detailText p input{width:100%;height:31px;border-radius: 5px;border: 1px solid #4F5D75;background-color: #fff;}
table{margin: 0;}
.detailText .rowText .none{display: none;}
.detailText .rowText .wrap.none img{vertical-align:middle;width: 115px;height: 115px;object-fit: contain;display: none;}
.detailText .rowText .wrap img{display: inline-block;}
.mobileTableWP.checkUpload .detailText>div>p{text-align: left;width: 45%;}
@media(max-width:1145px){
  label[for="file-upload"]{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
  .detailText .rowText .wrap img{width: 300px;height:300px;}
  .mobileTableWP.checkUpload .detailText p:nth-child(1),
  .mobileTableWP.auditInputAmount .detailText p:nth-child(1),
  .mobileTableWP.inputTwo .detailText p:nth-child(1){width:100px;}
  .mobileTableWP.checkUpload .detailText p:nth-child(2),
  .mobileTableWP.auditInputAmount .detailText p:nth-child(2),
  .mobileTableWP.inputTwo .detailText p:nth-child(2){width: 70%;}
}
@media(max-width:900px){
  .detailText .rowText div{width: 100%;}
}
@media(max-width:800px){
  .detailText .rowText .wrap img{width:100%;height:250px;}
}
@media(max-width:500px){
.detailText .btnWP {width: 80%;}
.detailText .editDelete .btn:nth-child(1){margin-right: 50px;}
.detailText p{width: 100%;word-break: break-all;}
.detailText .rowText div{justify-content: space-between;width: 98%;}
.detailText p{text-align: left;}
.detailText a.btn{width: 90px;}
}
@media(max-width:414px){
  .detailText .editDelete .btn:nth-child(1){margin-right: 30px;}
  .detailText a.btn{width: 83px;}
}
@media(max-width:375px){
  .detailText div{margin:0 auto 6px;}
  .detailText p{min-height:24px;line-height: 24px;}
  .detailText p.td{margin-left: 0;}
}