.btnWP.top{justify-content:space-between;}
  #main .content .row.flex{justify-content:flex-start;}
  #main .content .row.flex.long{width:100%;}
  #main .content .row.flex.long .left{width:82%;}
  #main .content .row.flex.long .left input{width:90%;}
  #main .content .row.flex .left p{text-align:left;width:66px;}
  #main .content .row.flex .right p{text-align:left;width:96px;}
  #main .content .row.flex .left {margin-right:0;}
  table{margin-bottom: 54px;}
  .btnWP.start{justify-content: flex-start;}
  .btnWP.start .btn{margin-left:0;}
  .btn.blue{margin-bottom:0;margin-left:10px;}
@media(max-width:1580px){
  #main .content .row.flex{flex-direction: column;height: auto;}
  #main .content .row.flex .left p,
  #main .content .row.flex .right p{width:96px;}
  #main .content .row.flex .left, 
  #main .content .row.flex .right{width:82%;}
  #main .content .row.flex .left select, 
  #main .content .row.flex .right select{width:87%;}
  #main .content .row.flex .left{margin-bottom: 12px;}
}
@media(max-width:1110px){
#main .content .row.flex .left,
#main .content .row.flex .right,
#main .content .row.flex.long .left{width: 100%;}
#main .content .row.flex .left p,
#main .content .row.flex .right p{width:20%;}
}
@media(max-width:720px){
  #main .content .row.flex .left p,
  #main .content .row.flex .right p{width:87%;text-align: left;}
  #main .content .row.flex .left{margin-bottom: 0;}
  #main .content .row.flex{margin-bottom:12px;}
  #main .content .row.flex.long .btn.blue{margin-top: 12px;margin-left: 0;}
}
@media(max-width:600px){
  #main .content .row.flex .left p,
  #main .content .row.flex .right p,
  #main .content .row.flex .left select,
  #main .content .row.flex .right select,
  #main .content .row.flex.long .left input{width:100%;}
  #main .content .row.flex{margin-bottom: 0;}
  #main .content .row.flex.long .btn.blue{margin-bottom: 12px;}
  }